/*Authors: Kelly B. Leo A. Brian A.
Subtask: GG-48 */

/* move button in left div to top left of page */
#left > button {
  position: absolute; /* Set position to absolute */
  top: 0; /* Set top to 0 */
  left: 0; /* Set left to 0 */
  background-color: rgb(0, 78, 56); /* Set background color */
  color: white; /* Set text color to white */
  font-size: 1em; /* Set font size */
  margin: 1em; /* Set margin */
  border: none; /* Remove border */
  border-radius: 5px; /* Set border radius */
}

/* Center content middle left in center div */
#center {
  margin-top: 8vh;
  margin-left: 2vw;
  display: flex; /* Set display to flex */
  flex-direction: column; /* Set flex direction to column */
  align-items: left; /* Set align items to center */
  justify-content: center; /* Set justify content to center */
}

/* move image to top right in right div */
#right > img {
  height: 40%; /* Set height */
  margin: 1em; /* Set margin */
  position: absolute; /* Set position to absolute */
  top: 0; /* Set top to 0 */
  right: 0; /* Set right to 0 */
}

/* Moving p tag content more to the right with margin */
#center > p {
  margin-left: 2vw;
}
