/* Set position of content above the rest */
#preview-data-view {
    width: 90%; /* Set width to 90% */
    height: 90%; /* Set height to 90% */
    background: rgba(255, 255, 255, 0.95); /* Set background color */
    display: flex; /* Set display to flex */
    position: absolute; /* Set position to absolute */
    top: 50%; /* Set top to 50% of the viewport */
    left: 50%; /* Set left to 50% of the viewport */
    transform: translate(-50%, -50%); /* Set transform to translate */
    border-radius: 20px; /* Set border radius */
}

/* Move the close button to top right */
#top {
    position: absolute; /* Set position to absolute */
    top: 0; /* Set top to 0 */
    right: 0; /* Set right to 0 */
}

/* Close button style */
#top > button {
    background-color: #ff0000; /* Set background color */
    width: 2em; /* Set width to 2em */
    height: 2em; /* Set height to 2em */
    margin: 1em; /* Set margin */
    border: none; /* Remove border */
}

/* move content in the left container to the left */
#left {
    width: 50%; /* Set width to 50% */
    height: 100%; /* Set height to 100% */
    display: flex; /* Set display to flex */
    flex-direction: column; /* Set flex direction to column */
    align-items: center; /* Set align items to center */
    justify-content: center; /* Set justify content to center */
    margin-left: 20px; /* Set margin left */
}

/* Set img content size in left container */
#left > img {
    width: 75%; /* Set width */
    height: 75%; /* Set height */
}

/* move content in the right container to the right */
#right {
    width: 50%; /* Set width to 50% */
    height: 100%; /* Set height to 100% */
    display: flex; /* Set display to flex */
    flex-direction: column; /* Set flex direction to column */
    align-items: center; /* Set align items to center */
    justify-content: center; /* Set justify content to center */
    margin-right: 20px; /* Set margin right */
}

/* Set all info button to the bottom right */
#bottom {
    position: absolute; /* Set position to absolute */
    bottom: 0; /* Set bottom to 0 */
    right: 0; /* Set right to 0 */
}

/* All info button style */
#bottom > button {
    background-color: rgb(0, 78, 56); /* Set background color */
    width: 5em; /* Set width */
    height: 2em; /* Set height */
    margin: 1em; /* Set margin */
    border: none; /* Remove border */
    color: white; /* Set text color to white */
}