body{
  border: 0px;
  margin: 0px;
}

#search-header{
    width: 100vw;
    height: 45vh;
    overflow-y: hidden;
    background-color: rgb(0, 78, 56); 
}

header {
    margin-top: 14vh;
    font-family:arial,sans-serif;
    font-size: 1em;
    color: #ffffff;
    text-align: center;
}

#search-cluster
{
    height: 10vh;
    margin: 0px;
    border: 0px;
    padding:0px;
    align-items: center;
    position: relative;
}


#search-cluster > button {
    height: inherit;
    vertical-align: middle;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#search-cluster > button.search {
    margin-left: -0.5vw;
}
#search-cluster > button:active{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(4px);
}

img{
    height: inherit;
    width: inherit;
    align-items: center;
    position:relative;
    margin: 0px;
    border: 0px;
    padding-top: 0px;
}

#search-cluster > input {
    align-items: center;
    height: inherit;
    width: 60vw;
    vertical-align: middle;
    font-size: 4vh;
    margin-right: -0.5vw;
    margin-left: 1vw;
    width:60%;
    border: 0px;
    padding: 0px;
}

#search-cluster > select{
    align-items: center;
    height: inherit;
    width: 12.5vw;
    background-color: #58B947;
    vertical-align: middle;
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-size: 4vh;
}

input[type='text'] {
    padding-left: 25px;
}

#start-view {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-auto-flow: row dense;
    margin: 5%;
}

#start-view > button {
    width:inherit;
    height: 8vh;
    margin: 1vh;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 3vh;
}
