header{
    
    background-size: cover;
    background-position: center;
    /*RGB: 0-132-83.*/
    background-color: rgb(0, 78, 56);
    padding: 10px;
    
}

h1 {
    font-family:arial,sans-serif;
    font-weight: normal;
    font-size: 2em;
    color: #ffffff;
    text-align: center;

}

input {
    align-items: center;
}