/* Define body global parameters */
body {
    border: 0px; /* Remove border */
    margin: 0px; /* Remove margin */
    height: 100vh; /* Set height to 100% of the viewport */
    width: 100vw; /* Set width to 100% of the viewport */
}

/* Set button animation global parameters */
button:active{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(4px);
}

/* Set div with the id of search-header height and width */
#search-header {
    width: 100vw; /* Set width to 100% of the viewport */
    height: 25vh; /* Set height to 25% of the viewport */
    overflow-y: hidden; /* Hide overflow */
    background-color: rgb(0, 78, 56); /* Set background color */
}

/* Set search-header h1 tag size */
#search-header h1 {
    font-size: 2.5em; /* Set font size */
}

/* Center all tags in search header in the 25vh */
#search-header > * {
    position: absolute; /* Set position to absolute */
    top: 10%; /* Set top to 10% of the viewport */
    left: 50%; /* Set left to 50% of the viewport */
    transform: translate(-50%, -50%); /* Set transform to translate */
}

/* Center all elements in header tag; setting font & color */
header {
    text-align: center; /* Center text */
    font-family:arial,sans-serif; /* Set font to Arial */
    color: #ffffff;
}

/* line up search-cluster in a row */
#search-cluster{
    display: flex; /* Set display to flex */
    flex-direction: row; /* Set flex direction to row */
}

/* Set button style to buttons in the search-cluster */
#search-cluster > button {
    margin: 0px; /* Remove margin */
    border: 0px; /* Remove border */
    padding: 0px; /* Remove padding */
    height: 5vh; /* Set height to 5% of the viewport */
    vertical-align: middle; /* Set vertical alignment to middle */
}

/* Set img tag in the button to inherit the height of the button */
#search-cluster > button > img {
    height: inherit; /* Set height to inherit */
}

/* Set search-cluster input tag style */
#search-cluster > input {
    border: 0px; /* Remove border */
    padding: 0px; /* Remove padding */
    margin: 0px 5px 0px 5px; /* Set margin */
    height: 5vh; /* Set height to 5% of the viewport */
    width: 60vw; /* Set width to 60% of the viewport */
    font-size: 1.5em; /* Set font size */
    padding-left: 5px;
}

/* Set search-cluster select tag style */
#search-cluster > select{
    border: 0px; /* Remove border */
    padding: 0px; /* Remove padding */
    margin: 0px; /* Remove margin */
    font-size: 1.5em; /* Set font size */
    background-color: #58B947; /* Set background color */
    vertical-align: middle; /* Set vertical alignment to middle */
}

/* Move h2 text to center of container */
#start-view > h2 {
    text-align: center; /* Center text */
    margin-top: 10vh; /* Set margin top */
}

/* Set formatting */
#start-view-container {
    margin: 0px 5% 5% 5%; /* Set margin */
    display: grid; /* Set display to grid */
    grid-template-columns: repeat(2, auto); /* Set grid template columns to repeat 2 times */
    grid-auto-flow: row dense; /* Set grid auto flow to row dense */
}

/* Set start-view-container button tag style with id start-button */
#start-view-container > button#start-button {
    width: inherit; /* Set width to inherit */
    height: 8vh; /* Set height to 8% of the viewport */
    margin: 1vh; /* Set margin */
    background-color: #ffffff; /* Set background color */
    border-radius: 20px; /* Set border radius */
    font-size: 3vh; /* Set font size */
}

/* Set start-view-container-sub-container tag layout */
#start-view-sub-container {
    position: relative; /* Set position to absolute */
    display: grid; /* Set display to grid */
    grid-template-columns: repeat(2, auto); /* Set grid template columns to repeat 2 times */
}

#start-view-sub-container > button {
    height: 6vh; /* Set height to 8% of the viewport */
    position: relative; /* Set position to relative */
    left: 50%; /* Set left to 50% of the viewport */
    transform: translate(-50%, 0); /* Set transform to translate */
    background-color: #ffffff; /* Set background color */
    border-radius: 20px; /* Set border radius */
    font-size: 2vh; /* Set font size */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /* Set box shadow */
}

/* Set position of content above the rest */
#preview-data-view {
    width: 90%; /* Set width to 90% */
    height: 90%; /* Set height to 90% */
    background: rgba(255, 255, 255, 0.95); /* Set background color */
    display: flex; /* Set display to flex */
    position: absolute; /* Set position to absolute */
    top: 50%; /* Set top to 50% of the viewport */
    left: 50%; /* Set left to 50% of the viewport */
    transform: translate(-50%, -50%); /* Set transform to translate */
    border-radius: 20px; /* Set border radius */
}

/* Move the close button to top right */
#top {
    position: absolute; /* Set position to absolute */
    top: 0; /* Set top to 0 */
    right: 0; /* Set right to 0 */
}

/* Close button style */
#top > button {
    background-color: #ff0000; /* Set background color */
    width: 2em; /* Set width to 2em */
    height: 2em; /* Set height to 2em */
    margin: 1em; /* Set margin */
    border: none; /* Remove border */
}

/* move content in the left container to the left */
#left {
    width: 50%; /* Set width to 50% */
    height: 100%; /* Set height to 100% */
    display: flex; /* Set display to flex */
    flex-direction: column; /* Set flex direction to column */
    align-items: center; /* Set align items to center */
    justify-content: center; /* Set justify content to center */
    margin-left: 20px; /* Set margin left */
}

/* Set img content size in left container */
#left > img {
    width: 75%; /* Set width */
    height: 75%; /* Set height */
}

/* move content in the right container to the right */
#right {
    width: 50%; /* Set width to 50% */
    height: 100%; /* Set height to 100% */
    display: flex; /* Set display to flex */
    flex-direction: column; /* Set flex direction to column */
    align-items: center; /* Set align items to center */
    justify-content: center; /* Set justify content to center */
    margin-right: 20px; /* Set margin right */
}

/* Set all info button to the bottom right */
#bottom {
    position: absolute; /* Set position to absolute */
    bottom: 0; /* Set bottom to 0 */
    right: 0; /* Set right to 0 */
}

/* All info button style */
#bottom > button {
    background-color: rgb(0, 78, 56); /* Set background color */
    width: 5em; /* Set width */
    height: 2em; /* Set height */
    margin: 1em; /* Set margin */
    border: none; /* Remove border */
    color: white; /* Set text color to white */
}